

:root{
    
    
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
.center{
    text-align: center;
}

.container{
    width:95%;
    max-width: 980px;
    margin:0 auto;
    border:1px solid black;
}

 label{
    font-size: 18px;
    display:inline-block;
}

.top-1st{
    display:grid;
    grid-template-columns: 4rem 22rem 6rem 3rem;
    row-gap: 4rem;
    
    margin:0.3rem 1rem;
}

.top-2nd{
    display:grid;
    grid-template-columns:5em 9rem 4.5rem 10rem 4rem 3rem   ;
    row-gap: 4rem;
    margin-top:2rem;
    margin:0 1rem;
}

.top-3rd{
    display:grid;
    grid-template-columns:10.5rem 4rem 4.5rem 8.5rem 7rem 4rem ;
    row-gap: 4rem;
    margin:0.5rem 1rem;
    
}

.top-4th{
    display:grid;
    grid-template-columns: 10rem 16rem 5rem 3rem;
    margin:0.5rem 1rem;
}


.phase-row{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    
}

.phase{
    display:grid;
    border:1px solid black;
    width:100%;
    max-width: 720px;
    display:block;
    grid-template-columns: 1fr 1fr;
   
}

.container-2{
    margin-top:0.5rem;
    display:grid;
    grid-template-areas:
    "Learning  quarterly final_raiting remarks" ;
    grid-template-columns: 250px 200px 100px 130px;
    font-size:0.9rem;
    text-align: center;

}

.q1 {
    border:1px solid black;
}
.quarters{
    display:grid;
    grid-template-areas:"q-1 q-2 q-3 q-4" ;
    grid-template-columns:"20px";

    width:5px;

}

.q-1{
    grid-area: q-1;
}

.q-2{
    grid-area: q-2

}

.q-3{
    grid-area:q-3;

}

.q-4{
    grid-area:q-4;

}



.f-1{
    grid-area:Learning;
    
}

.quarterly{
    grid-area:quarterly;
}

.quarters{
    grid-area:quarters;
}

.final_raiting{
    grid-area:final_raiting;
}

.remarks{
    grid-area:remarks;

}

.container-2 > div {
    border:1px solid black;
    height:40px;
}

.quarterly h3{
    border:1px solid black;

}

.quarters p{
    
    padding:0 1rem;
    margin:0 10px;
    display:flex;
    flex-direction: row;
    display:inline-block;
    padding:0 10px;

}



.first-row{
    display:grid;
    grid-template-areas:
    "Mothers input_mothers1 input_mothers2 input_mothers3 input_mothers4 input_mothers5  remarks";
    grid-template-columns:    250px 50px 50px 50px  80px 100px 90px  ;
    

}

.second-row{
    display:grid;
    grid-template-areas:
    "  input_filipino1  input_filipino2  input_filipino3  input_filipino4 input_filipino5  ";
    grid-template-columns:    250px 50px 50px 50px  80px 100px 90px  ;
    
    
    margin-top:5px;
} 

.third-row{
    display:grid;
    grid-template-areas:
    "  input_english1  input_english2 input_english3  input_english4 input_english5   ";
    grid-template-columns:    250px 50px 50px 50px  80px 100px 90px  ;
    
    
    margin-top:5px;
}

.fourth-row{
    display:grid;
    grid-template-areas:
    "  input_math1  input_math2  input_math3  input_math4 input_math5 ";
    grid-template-columns:    250px 50px 50px 50px  80px 100px 90px  ;
    
    margin-top:5px;
}

.fifth-row{
    display:grid;
    grid-template-areas:
    "  input_science1  input_science2  input_science3  input_science4 input_science5 ";
    grid-template-columns:    250px 50px 50px 50px  80px 100px 90px  ;
    
    margin-top:5px;
}


.sixth-row{
    display:grid;
    grid-template-areas:
    "  input_Aralinpanlipunan1  input_Aralinpanlipunan2  input_Aralinpanlipunan3 input_Aralinpanlipunan4 input_Aralinpanlipunan5 ";
    grid-template-columns:    250px 50px 50px 50px  80px 100px 90px  ;
    
    
    margin-top:5px;
}

.seventh-row{
    display:grid;
    grid-template-areas:
    "  input_epp1  input_epp2  input_epp3 input_epp4 input_epp5 ";
    grid-template-columns:    250px 50px 50px 50px  80px 100px 90px  ;
    
    margin-top:5px;
}

.eighth-row{
    display:grid;
    grid-template-areas:
    "  input_mapeh1  input_mapeh2  input_mapeh3 input_mapeh4 input_mapeh5 ";
    grid-template-columns:    250px 50px 50px 50px  80px 100px 90px  ;
    
    
    margin-top:5px;
}


.nineth-row{
    display:grid;
    grid-template-areas:
    "  input_music1  input_music2  input_music3 input_music4 input_music5  ";
    grid-template-columns:    250px 50px 50px 50px  80px 100px 90px  ;
    
    margin-top:5px;
}

.tenth-row{
    display:grid;
    grid-template-areas:
    "  input_arts1  input_arts2  input_arts3 input_arts4 input_arts5  ";
    grid-template-columns:    250px 50px 50px 50px  80px 100px 90px  ;
    
    
    margin-top:5px;
}

.eleventh-row{
    display:grid;
    grid-template-areas:
    "  input_pe1  input_pe2  input_pe3 input_pe4 input_pe5  ";
    grid-template-columns:    250px 50px 50px 50px  80px 100px 90px  ;
    
    
    margin-top:5px;
}

.twelfth-row{
    display:grid;
    grid-template-areas:
    " input_health1  input_health2  input_health3 input_health4 input_health5  ";
    grid-template-columns:    250px 50px 50px 50px  80px 100px 90px  ;
    margin-top:5px;
}

.thirteenth-row{
    display:grid;
    grid-template-areas:
    "  input_ep1  input_ep2  input_ep3 input_ep4 input_ep5  ";
    grid-template-columns:    250px 50px 50px 50px  80px 100px 90px;
    margin-top:5px;
}

.fourteenth-row{
    display:grid;
    grid-template-areas:
    "Arabiclanguage1 input_arabiclanguage1  input_arabiclanguage2  input_arabiclanguage3 input_arabiclanguage4 input_arabiclanguage5  ";
    grid-template-columns:    250px 50px 50px 50px  80px 100px 90px;
    margin-top:5px;
}

.fifteenth-row{
    display:grid;
    grid-template-areas:
    "  input_ep1  input_ep2  input_ep3 input_ep4 input_ep5  ";
    grid-template-columns:    250px 50px 50px 50px  80px 100px 90px;
    margin-top:5px;
}

.sixteenth-row{
    display:grid;
    grid-template-areas:
    "  input_ep1  input_ep2  input_ep3 input_ep4 input_ep5  ";
    grid-template-columns:    250px 50px 50px 50px  80px 100px 90px;
    margin-top:5px;
}
/* Grid Area */
.mother_tongue1{
    grid-area: Mothers;
}
.mother_tongue1txt{
    grid-area: input_mothers1;
}

.mother_tongue2txt{
    grid-area: input_mothers2;
}

.mother_tongue3txt{
    grid-area: input_mothers3;
}

.mother_tongue4txt{
    grid-area: input_mothers4;
}

.mother_tongue5txt{
    grid-area: input_mothers5;
}



.remarks{
    grid-area: remarks;
}

.general_average{
    grid-area: average;
}

.Filipino1{
    grid-area:Filipino
}

.filipino1txt{
    grid-area: input_filipino1;
}

.filipino2txt{
    grid-area: input_filipino2;
}

.filipino3txt{
    grid-area:input_filipino3;
}

.filipino4txt{
    grid-area:input_filipino4;

}

.filipino5txt{
    grid-area:input_filipino5;

}

.Math1{
    grid-area:Math1;
}

.math1{
    grid-area: input_math1;

}

.math2{
    grid-area:input_math2;


}



.math3{
    grid-area:input_math3

}

.math4{
    grid-area:input_math4;
}

.math5{
    grid-area:input_math5;
}


.Science1{
    grid-area:Science1;

}

.science1{
    grid-area:input_science1;

}

.science2{
    grid-area:input_science2;

}


.science3{
    grid-area:input_science3;
}

.science4{
    grid-area:input_science4

}
.science5{
    grid-area:input_science5

}

.aralingpanlipunan1{
    grid-area:Aralinpanlipunan1;

}
.aralinpan_lipunan1{
    grid-area:input_Aralinpanlipunan1;

}

.aralinpan_lipunan2{
    grid-area:input_Aralinpanlipunan2;
}

.aralinpan_lipunan3{
    grid-area:input_Aralinpanlipunan3;

}

.aralinpan_lipunan4{
    grid-area:input_Aralinpanlipunan4;

}

.epp_tle1{
    grid-area:Epp_tle
}

.epp1{
    grid-area:input_epp1;
}

.epp2{
    grid-area:input_epp2;
}

.epp3{
    grid-area:input_epp3;
}

.epp4{
    grid-area:input_epp4
}

.epp5{
    grid-area:input_epp5;
}

.Mapeh1{
    grid-area:Mapeh1;
}

.mapeh1{
    grid-area:input_mapeh1;
}

.mapeh2{
    grid-area:input_mapeh2;

}
.mapeh3{
    grid-area:input_mapeh3;

}
.mapeh4{
    grid-area:input_mapeh4;

}

.mapeh5{
    grid-area:input_mapeh5;
}

.Music1{
    grid-area:Music1;
}

.music1{
    grid-area:input_music1;
}
.music2{
    grid-area:input_music2;

}

.music1{
    grid-area:input_music3;

}

.music4{
    grid-area:input_music4;

}

.music5{
    grid-area:input_music5;
}


.Arts1{
    grid-area:Arts1;
}
.arts1{
    grid-area:input_arts1;
}

.arts2{
    grid-area:input_arts2;

}

.arts3{
    grid-area:input_arts3;

}

.arts4{
    grid-area:input_arts4;
}

.arts5{
    grid-area:input_arts5;
}

.PE1{
    grid-area:PE1;

}


.pe1{
    grid-area:input_pe1;

}

.pe2{
    grid-area:input_pe2;

}

.pe3{
    grid-area:input_pe3;

}

.pe4{
    grid-area:input_pe4;

}

.pe5{
    grid-area:input_pe5;

}

.Health1{
    grid-area:Health1;

}

.health1{
    grid-area:input_health1;

}

.health2{
    grid-area:input_health2;

}

.health3{
    grid-area:input_health3;

}

.health4{
    grid-area:input_health4;

}

.health5{
    grid-area:input_health5;

}

.Edukasyon_sa_pagpapakatao1{
    grid-area:EP1;
}

.edukasyon_sa_pagpapakatao1{
    grid-area:input_ep1;
}

.edukasyon_sa_pagpapakatao2{
    grid-area:input_ep2;
}

.edukasyon_sa_pagpapakatao3{
    grid-area:input_ep3;
}

.edukasyon_sa_pagpapakatao4{
    grid-area:input_ep4;
}

.edukasyon_sa_pagpapakatao5{
    grid-area:input_ep5;
}

.Arabiclanguage1{
    grid-area:Arabiclanguage1;
}
.arabic_language1{
    grid-area:input_arabiclanguage1;
}
.arabic_language2{
    grid-area:input_arabiclanguage2;

}
.arabic_language3{
    grid-area:input_arabiclanguage3;

}
.arabic_language4{
    grid-area:input_arabiclanguage4;

}
.arabic_language5{
    grid-area:input_arabiclanguage5;
}

.Islamicvalue1{
    grid-area:Islamicvalue1;

}
.islamic_value1{
    grid-area:input_islamicvalue1;
}
.islamic_value2{
    grid-area:input_islamicvalue2;
}
.islamic_value3{
    grid-area:input_islamicvalue3;
}
.islamic_value4{
    grid-area:input_islamicvalue4;
}
.islamic_value5{
    grid-area:input_islamicvalue5;
}

.Generalaverage1{
    grid-area:Generalaverage;
}
.general_average1{
    grid-area:input_generalave1
}
.general_average2{
    grid-area:input_generalave2
}
.general_average3{
    grid-area:input_generalave3;
}
.general_average4{
    grid-area:input_generalave4;
}
.general_average5{
    grid-area:input_generalave5;
}


/* Textbox sizes */



.mother{
    width:40px;
}

.filipino{
    width:40px;
}

.english{
    width:40px;
}

.math{
    width:40px;
}

.science{
    width:40px;
}

.aralinpanlipunan{
    width:40px;
}

.epp{
    width:40px;
}

.mapeh{
    width:40px;
}

.music{
    width:40px;
}

.arts{
    width:40px;
}

.pe{
    width:40px;
}

.health{
    width:40px;
}

.edukasyon_sa_pagpapakatao{
    width:40px;
}


.general_average{
    width:100px;
}

.remarks{
}

.try-2{
    width:40px;
} 
 .schooltxt{
    width:20rem;
}

.school_idtxt{
    width:9rem;
} 

.districttxt{
    width:8rem;
}

.divisiontxt{
    width:8rem;
}

.regiontxt{
    width:8rem;
}

.classified_as_gradetxt{
    width:2rem;
}


.sectiontxt{
    width:6rem;
}
.school_yeartxt{
    width:6rem;
}

.name_of_advisertxt{
    width:15rem;
}

.signaturetxt{
    width:5rem;
}

