

:root{
    
    
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
.center{
    text-align: center;
}

.container{
    width:95%;
    min-width: 980px;
    margin:0 auto;
}

 label{
    font-size: 18px;
    display:inline-block;
}

.top-1st{
    width:35rem;
    margin:0 1rem;
}

.top-2nd{
    margin-top:0.5rem;
}

.top-3rd{
    margin-top:0.5rem;
}

.top-4th{
    margin-top:0.5rem;
}


.phase-row{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    
}

.phase{
    display:grid;
    border:1px solid black;
    display:block;
    grid-template-columns: 1fr 1fr;
   
}

.container-2{
    margin-top:0.5rem;
    display:grid;
    grid-template-areas:
    "Learning  quarterly final_raiting remarks" ;
    font-size:0.9rem;
    text-align: center;

}



.f-1{
    grid-area:Learning;
    
}

.quarterly{
    grid-area:quarterly;
}

.quarters{
    grid-area:quarters;
}

.final_raiting{
    grid-area:final_raiting;
}

.remarks{
    grid-area:remarks;

}

.container-2 > div {
    border:1px solid black;
    height:40px;
}

.quarterly h3{
    border:1px solid black;

}

.quarters p{
    
    padding:0 1rem;
    margin:0 10px;
    display:flex;
    flex-direction: row;
    display:inline-block;
    padding:0 10px;

}



.first-row{
    display:grid;
    grid-template-areas:
    "Mothers input_mothers1 input_mothers2 input_mothers3 input_mothers4 average remarks";
    grid-template-columns: 175px 55px 55px 55px 70px  135px 100px;
    

}

.second-row{
    display:grid;
    grid-template-areas:
    "Filipino  input_filipino1  input_filipino2  input_filipino3  input_filipino4 average remarks";
    grid-template-columns: 175px 55px 55px 55px 70px  135px 100px;
    margin-top:5px;
} 

.third-row{
    display:grid;
    grid-template-areas:
    "Filipino  input_filipino1  input_filipino2  input_filipino3  input_filipino4 average remarks";
    grid-template-columns: 175px 55px 55px 55px 70px  135px 100px;
    margin-top:5px;
}

.fourth-row{
    display:grid;
    grid-template-areas:
    "Math1  input_math1  input_math2  input_math3  input_math4 average remarks";
    grid-template-columns: 175px 55px 55px 55px 70px  135px 100px;
    margin-top:5px;
}

.fifth-row{
    display:grid;
    grid-template-areas:
    "Science1  input_science1  input_science2  input_science3  input_science4 average remarks";
    grid-template-columns: 175px 55px 55px 55px 70px  135px 100px;
    margin-top:5px;
}


.sixth-row{
    display:grid;
    grid-template-areas:
    "Aralinpanlipunan1  input_Aralinpanlipunan1  input_Aralinpanlipunan2  input_Aralinpanlipunan3 input_Aralinpanlipunan4 average remarks";
    grid-template-columns: 175px 55px 55px 55px 70px  135px 100px;
    margin-top:5px;
}

/* Grid Area */
.mother_tongue1{
    grid-area: Mothers;
}
.mother_tongue1txt{
    grid-area: input_mothers1
}

.mother_tongue2txt{
    grid-area: input_mothers2
}

.mother_tongue3txt{
    grid-area: input_mothers3
}

.mother_tongue4txt{
    grid-area: input_mothers4
}

.remarks{
    grid-area: remarks;
}

.general_average{
    grid-area: average;
}

.Filipino1{
    grid-area:Filipino
}

.filipino1txt{
    grid-area: input_filipino1;
}

.filipino2txt{
    grid-area: input_filipino2;
}

.filipino3txt{
    grid-area:input_filipino3;
}

.filipino4txt{
    grid-area:input_filipino4;

}

.Math1{
    grid-area:Math1;
}

.math1{
    grid-area: input_math1;

}

.math2{
    grid-area:input_math2;


}



.math3{
    grid-area:input_math3

}

.math4{
    grid-area:input_math4;
}

.Science1{
    grid-area:Science1;

}

.science1{
    grid-area:input_science1;

}

.science2{
    grid-area:input_science2;

}


.science3{
    grid-area:input_science3;
}

.science4{
    grid-area:input_science4

}

.aralingpanlipunan1{
    grid-area:Aralinpanlipunan1;

}
.aralinpan_lipunan1{
    grid-area:input_Aralinpanlipunan1;

}

.aralinpan_lipunan2{
    grid-area:input_Aralinpanlipunan2;
}

.aralinpan_lipunan3{
    grid-area:input_Aralinpanlipunan3;

}

.aralinpan_lipunan4{
    grid-area:input_Aralinpanlipunan4;

}
/* Textbox sizes */



.mother{
    width:40px;
}

.filipino{
    width:40px;
}

.english{
    width:40px;
}

.math{
    width:40px;
}

.science{
    width:40px;
}

.aralinpanlipunan{
    width:40px;
}

.general_average{
    width:100px;
}

.remarks{
}

/*.try-2{
    width:40px;
}  */
.schooltxt{
    width:18rem;
}

.school_idtxt{
    width:7rem;
}

.districttxt{
    width:7rem;
}

.divisiontxt{
    width:7rem;
}

.regiontxt{
    width:7rem;
}

.classified_as_gradetxt{
    width:2rem;
}


.sectiontxt{
    width:4rem;
}
.school_yeartxt{
    width:6rem;
}

.name_of_advisertxt{
    width:15rem;
}

.signaturetxt{
    width:5rem;
}

