.header{
    display:flex;
    justify-content: end;
    width:100%;
}
.nav-link{
    text-decoration: none;
    color:black;
    width:150px;
}
a{
    text-decoration: none;
    color:black;
}

.navbar-nav a { 
    margin:0 2rem;
}

.history-log{
    padding:1rem 2rem;
    margin: 8rem auto;
}

.checkbox{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    text-align: left;
    width:100%;
    padding:0 2rem;
    margin:0 9rem;
    margin-bottom: 1rem;
}

