@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Montserrat:wght@300&family=Noto+Serif+Display:wght@500&family=Pacifico&family=Poppins:wght@300;700&display=swap');
*:root{
    --lobster: 'Lobster Two', cursive;
    --montserrat: 'Montserrat', sans-serif;
    --noto: 'Noto Serif Display', serif;
    --pacifico: 'Pacifico', cursive;
    --poppins: 'Poppins', sans-serif;
}
.bg-main{
    background: #03B13E;
}
.nav-item{
    border-radius: 5px;
    border: 2px solid white;
}
.table-container{
    margin: 5em 0 0 0 ;
    height: 100vh;
}
.table-top{
    margin: 0 0 2.5em 0 ;
}

/* login design  */
.address{
    font-size: 15px;
}
.form-container{
    height: 65vh;
}
.login-form{
    border: 1px solid #ccc;
    margin: 8em 25em;
    border-radius: 0 0 12px 12px;
}
.header-text{
    background: green;
    color:white;
    padding: 15px 0;
}
.input-boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 10em 5em 10em;
}
.input-boxes input[type=text], input[type=password]{
    margin: 12px ;
    padding: 1px 8px;
    text-align: center;
    border-radius: 15px;
    outline: none;
    border: 2px solid #ccc;
    font-size: 20px;
    font-family: var(--poppins);
}
.input-boxes input[type=text]:focus, input[type=password]:focus{
    border: 2px solid rgb(1, 124, 240);
    transition: all .5s ease;
}
.input-boxes input[type=submit]{
    padding: 2px 20px;
    background: #03B13E;
    margin: 12px 0 0 0;
    color: white;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 20px;
}
.input-boxes input[type=submit]:hover{
    background: #00df4a;
}

@media (max-width: 1024px) {
    .login-form{
        margin: 8em 10em;
    }
}